
body {   
font-size: 18pt;
font-family;
color: white;
text-align: center;
background-image: url("/static/seville-spain-Sevilla.jpg");
background-size: cover;
background-repeat: no-repeat;
text-align-last: center;
}

h1{
	color: black;
	font-size: 15pt;
}
h2{
	color: black;
	font-size: 10pt;
}
